@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, {User.Name}</h1>
<br/><br/>
<a class="k-button" href="/currentProjects">Current Projects</a>
<br/><br/>
<a class="k-button" href="/completedProjects">Completed / Not Sold</a>
<br/><br/>
<a class="k-button" href="/soldProjects">Completed / Sold</a>
